## Read Data

In [33]:
import pandas as pd
import geopandas as gpd

data_dir="../data/"

weatherdata = pd.read_csv(data_dir+"weather_data.csv")
firedata = pd.read_csv(data_dir+"Washington_Large_Fires_1973-2019.csv")
geo = gpd.read_file(data_dir+"Washington_Large_Fires_1973-2019.geojson")

## Clean weather data

In [34]:
print(weatherdata.shape)
weatherdata.head(10)

(350060, 14)

,date,max_temperature,min_temperature,avg_temperature,departure_temperature,hdd,cdd,percipitation,new_snow,snow_depth,station_id,name,state,uid
0,2000-01-01,46,32,39.0,-1.6,26,0,0.67,M,M,456858 2,QUILLAYUTE AP,WA,26092
1,2000-01-02,43,32,37.5,-3.2,27,0,0.26,M,M,456858 2,QUILLAYUTE AP,WA,26092
2,2000-01-03,49,35,42.0,1.3,23,0,2.20,M,M,456858 2,QUILLAYUTE AP,WA,26092
3,2000-01-04,48,40,44.0,3.2,21,0,0.33,M,M,456858 2,QUILLAYUTE AP,WA,26092
4,2000-01-05,45,32,38.5,-2.4,26,0,0.06,M,M,456858 2,QUILLAYUTE AP,WA,26092
5,2000-01-06,43,35,39.0,-2.0,26,0,0.28,M,M,456858 2,QUILLAYUTE AP,WA,26092
6,2000-01-07,48,41,44.5,3.4,20,0,1.12,M,M,456858 2,QUILLAYUTE AP,WA,26092
7,2000-01-08,48,36,42.0,0.8,23,0,0.75,M,M,456858 2,QUILLAYUTE AP,WA,26092
8,2000-01-09,48,32,40.0,-1.2,25,0,0.73,M,M,456858 2,QUILLAYUTE AP,WA,26092
9,2000-01-10,37,30,33.5,-7.8,31,0,0.29,M,M,456858 2,QUILLAYUTE AP,WA,26092

In [35]:
weatherdata.tail(10)

,date,max_temperature,min_temperature,avg_temperature,departure_temperature,hdd,cdd,percipitation,new_snow,snow_depth,station_id,name,state,uid
350050,2020-10-22,M,M,M,M,M,M,M,M,M,457507 2,SEDRO-WOOLLEY,WA,26180
350051,2020-10-23,M,M,M,M,M,M,M,M,M,457507 2,SEDRO-WOOLLEY,WA,26180
350052,2020-10-24,M,M,M,M,M,M,M,M,M,457507 2,SEDRO-WOOLLEY,WA,26180
350053,2020-10-25,M,M,M,M,M,M,M,M,M,457507 2,SEDRO-WOOLLEY,WA,26180
350054,2020-10-26,M,M,M,M,M,M,M,M,M,457507 2,SEDRO-WOOLLEY,WA,26180
350055,2020-10-27,M,M,M,M,M,M,M,M,M,457507 2,SEDRO-WOOLLEY,WA,26180
350056,2020-10-28,M,M,M,M,M,M,M,M,M,457507 2,SEDRO-WOOLLEY,WA,26180
350057,2020-10-29,M,M,M,M,M,M,M,M,M,457507 2,SEDRO-WOOLLEY,WA,26180
350058,2020-10-30,M,M,M,M,M,M,M,M,M,457507 2,SEDRO-WOOLLEY,WA,26180
350059,2020-10-31,M,M,M,M,M,M,M,M,M,457507 2,SEDRO-WOOLLEY,WA,26180

### Base on the experiement above, I found out that there are lots of M value in the tail of the temperature dataset

In [36]:
temperature = weatherdata.max_temperature.unique()
print(temperature)
temperature = weatherdata.min_temperature.unique()
print(temperature)

['46' '43' '49' '48' '45' '37' '35' '40' '47' '44' '52' '50' '54' '55'
 '57' '61' '53' '56' '51' '59' '62' '60' '64' '66' '73' '65' '58' '74'
 '69' '63' '75' '79' '67' '76' '72' '68' '81' '85' '86' '70' '80' '71'
 '77' '42' '39' '41' '84' '34' '33' '36' '78' '83' '90' '92' '91' '89'
 '87' '38' '28' '30' '82' '93' '88' 'M' '32' '26' '29' '31' '96' '95' '98'
 '94' '27' '20' '102' '24' '97' '99' '100' '25' '104' '101' '16' '21' '22'
 '19' '103' '23' '106' '105' '15' '18' '17' '13' '14' '7' '-1' '3' '12'
 '11' '0' '111' '-32' '122' '132' '136' '138' '8' '9' '4' '2' '10']
['32' '35' '40' '41' '36' '30' '34' '33' '37' '29' '23' '24' '28' '31'
 '26' '27' '42' '44' '25' '38' '39' '43' '48' '46' '45' '49' '47' '51'
 '50' '52' '55' '54' '53' '56' '57' '59' '21' '22' '58' '20' '60' '62'
 '19' '17' '14' '15' 'M' '63' '61' '16' '18' '66' '64' '12' '13' '5' '65'
 '11' '9' '10' '8' '7' '67' '4' '72' '68' '69' '70' '71' '75' '-0' '2' '6'
 '3' '-3' '-4' '73' '1' '74' '77' '80' '82' '0' '-32' '115' '124' '-2'
 '-1' '-6' '-7']

### Remove rows with 'M' values in max_temperature	min_temperature	avg_temperature	departure_temperature	hdd	cdd	percipitation columns

In [37]:
def remove_rows_with_M_Values(weatherdata):
    df = weatherdata[weatherdata.max_temperature == 'M']
    print("remove: ", df.index)
    weatherdata = weatherdata.drop(df.index)
    df = weatherdata[weatherdata.min_temperature == 'M']
    print("remove: ", df.index)
    weatherdata = weatherdata.drop(df.index)
    df = weatherdata[weatherdata.avg_temperature == 'M']
    print("remove: ", df.index)
    weatherdata = weatherdata.drop(df.index)
    df = weatherdata[weatherdata.departure_temperature == 'M']
    print("remove: ", df.index)
    weatherdata = weatherdata.drop(df.index)
    df = weatherdata[weatherdata.hdd == 'M']
    print("remove: ", df.index)
    weatherdata = weatherdata.drop(df.index)
    df = weatherdata[weatherdata.cdd == 'M']
    print("remove: ", df.index)
    weatherdata = weatherdata.drop(df.index)
    df = weatherdata[weatherdata.percipitation == 'M']
    print("remove: ", df.index)
    weatherdata = weatherdata.drop(df.index)
    return weatherdata
weatherdata = remove_rows_with_M_Values(weatherdata)
print("Current weather Shape", weatherdata.shape)

remove:  Int64Index([  2367,   3058,   4338,   5656,   7017,   7610,   7611,   7612,
              7613,   7614,
            ...
            350050, 350051, 350052, 350053, 350054, 350055, 350056, 350057,
            350058, 350059],
           dtype='int64', length=62103)
remove:  Int64Index([ 15224,  16724,  16916,  16940,  16971,  17028,  17263,  17315,
             17349,  17721,
            ...
            349454, 349459, 349469, 349627, 349643, 349811, 349823, 349827,
            349828, 349871],
           dtype='int64', length=2557)
remove:  Int64Index([], dtype='int64')
remove:  Int64Index([102334, 102335, 102336, 102337, 102367, 102368, 102423, 102424,
            102425, 102426,
            ...
            319564, 319565, 319566, 319567, 319568, 319569, 319570, 319571,
            319572, 319573],
           dtype='int64', length=22518)
remove:  Int64Index([], dtype='int64')
remove:  Int64Index([], dtype='int64')
remove:  Int64Index([  3031,   3032,   3033,   3034,  16962,  18493,  18494,  18496,
             18497,  18910,
            ...
            308416, 308417, 329304, 344731, 346521, 346522, 346523, 346524,
            346525, 346526],
           dtype='int64', length=2157)
Current weather Shape (260725, 14)

In [38]:
### List Unique value for hdd and cdd

In [39]:
import re
def replace_char_in_percipitation(weatherdata):
    non_decimal = re.compile(r'[^\d.]+')
    non_decimal.sub('', '12.34fe4e')
    tmplist = []
    for item in weatherdata['percipitation']:
        string = non_decimal.sub('', item)
        tmplist.append(string)
    weatherdata['percipitation'] = tmplist
    return geo


prec = weatherdata.percipitation.unique()
#print(prec)

replace_char_in_percipitation(weatherdata)

weatherdata.percipitation.str.replace('[^0-9]', '')
prec = weatherdata.percipitation.unique()
#print(prec)
# cdd = weatherdata.cdd.unique()
# print(cdd)
# hdd = weatherdata.hdd.unique()
# print(hdd)

['0.67' '0.26' '2.20' '0.33' '0.06' '0.28' '1.12' '0.75' '0.73' '0.29'
 '0.35' '0.79' '1.01' '0.48' '0.12' '0.01' '0.00' '0.31' '0.42' '0.39'
 '0.11' '0.40' '0.15' '0.64' '0.32' '0.09' '0.08' '0.25' '0.65' '0.81'
 '0.27' 'T' '0.02' '0.14' '1.18' '0.72' '0.30' '0.38' '0.96' '1.15' '0.57'
 '0.17' '1.80' '0.16' '0.10' '0.80' '0.47' '1.63' '0.18' '0.03' '0.21'
 '0.85' '0.84' '0.20' '0.46' '0.19' '0.99' '0.13' '0.63' '0.05' '0.86'
 '0.94' '0.60' '0.69' '0.04' '0.45' '0.22' '0.23' '1.05' '0.89' '1.08'
 '0.24' '2.23' '0.07' '0.41' '0.56' '1.30' '0.83' '1.69' '2.31' '0.98'
 '1.49' '1.35' '1.03' '0.74' '0.68' '1.48' '0.93' '0.95' '3.07' '0.43'
 '1.50' '0.34' '0.82' '0.55' '0.37' '0.62' '0.52' '0.70' '1.21' '0.49'
 '1.77' '1.17' '2.00' '1.85' '0.58' '0.88' '1.23' '1.41' '2.67' '0.36'
 '1.06' '1.94' '0.77' '1.81' '0.92' '1.11' '1.47' '1.65' '1.51' '0.53'
 '1.42' '0.44' '1.79' '2.91' '1.13' '1.34' '1.61' '0.91' '1.10' '1.20'
 '2.04' '0.66' '4.00' '1.89' '0.51' '0.61' '2.24' '0.50' '1.45' '1.31'
 '0.59' '1.37' '1.00' '1.02' '4.38' '1.68' '1.64' '1.19' '3.44' '2.82'
 '1.14' '1.62' '0.78' '1.24' '1.09' '1.59' '0.76' '1.25' '2.25' '1.92'
 '1.74' '5.21' '1.72' '1.82' '0.71' '1.26' '1.54' '1.58' '2.09' '6.03'
 '1.67' '1.32' '0.87' '1.83' '0.54' '2.03' '1.76' '2.63' '2.36' '3.47'
 '1.84' '2.21' '4.54' '4.36' '1.71' '1.90' '1.28' '1.53' '3.48' '0.97'
 '2.43' '2.61' '2.29' '1.73' '2.26' '1.40' '2.19' '2.76' '2.22' '1.16'
 '2.38' '0.90' '2.10' '2.44' '1.29' '2.68' '1.86' '2.60' '2.65' '1.97'
 '3.05' '1.33' '3.52' '2.78' '1.60' '1.27' '1.66' '1.75' '1.95' '3.50'
 '1.44' '1.46' '1.55' '1.22' '1.04' '3.30' '4.07' '2.37' '2.88' '2.13'
 '1.07' '1.52' '2.08' '3.31' '3.43' '1.38' '2.62' '4.59' '3.41' '2.27'
 '1.87' '1.93' '2.47' '1.70' '2.17' '2.52' '1.98' '1.43' '3.58' '3.22'
 '2.07' '2.46' '2.33' '2.75' '1.39' '2.50' '2.42' '5.47' '2.02' '1.36'
 '1.57' '2.74' '2.70' '1.91' '1.88' '4.20' '2.30' '3.36' '4.99' '2.34'
 '2.49' '2.48' '4.09' '2.15' '2.45' '2.59' '3.34' '2.05' '2.32' '2.56'
 '2.39' '2.71' '1.78' '2.73' '2.53' '4.46' '2.58' '2.93' '3.69' '2.54'
 '1.99' '2.40' '2.12' '1.96' '4.21' '2.41' '2.18' '2.97' '4.04' '3.38'
 '4.97' '2.51' '5.08' '3.89' '3.71' '4.01' '3.12' '3.94' '0.07A' '0.06A'
 '0.43A' '0.42A' '0.20A' '0.05A' '0.50A' '0.99A' '0.30A' '0.02A' '1.04A'
 '0.25A' '2.64' '8.85' '4.10' '1.56' 'S' '1.62A' '0.01A' '2.87' '0.15A'
 '1.43A' '2.68A' '3.04' '2.01' '2.57' '3.75' '0.03A' '0.65A' '4.77' '2.55'
 '5.42A' '3.35' '2.90' '3.40' '3.20' '3.42' '2.00A' '0.52A' '0.84A'
 '0.09A' '0.16A' '0.38A' '0.96A' '0.80A' '0.04A' '1.48A' '0.68A' '2.32A'
 '0.70A' '2.53A' '1.88A' '2.25A' '1.68A' '1.58A' '0.24A' '2.42A' '1.77A'
 '0.17A' '2.09A' '2.60A' '2.30A' '0.26A' '1.64A' '0.00A' '0.32A' '0.82A'
 '0.22A' '1.17A' '1.05A' '0.23A' '0.78A' '0.77A' '0.14A' '0.40A' '0.10A'
 '0.18A' '0.27A' '1.02A' '0.69A' '0.12A' '2.95A' '2.57A' '1.80A' '1.46A'
 '1.22A' '1.97A' '2.05A' '1.06A' '3.36A' '0.21A' '0.41A' '1.00A' '1.65A'
 '0.29A' '1.47A' '1.27A' '1.32A' '1.12A' '1.28A' '1.30A' '0.08A' '1.13A'
 '1.70A' '0.98A' '1.20A' '0.58A' '2.66' '3.00' '0.28A' '0.35A' '0.33A'
 '0.19A' '0.31A' '0.92A' '2.27A' '2.62A' '1.18A' '1.72A' '4.50A' '1.29A'
 '3.23A' '3.07A' '3.80' '1.03A' '1.75A' '1.94A' '1.55A' '1.07A' '0.37A'
 '1.31A' '1.10A' '0.57A' '1.52A' '0.11A' '1.26A' '4.28A' '0.46A' '0.60A'
 '1.86A' '2.10A' '2.23A' '0.74A' '1.40A' '1.98A' '1.90A' '0.51A' '2.28A'
 '2.12A' '0.63A' '4.66A' '0.56A' '2.34A' '0.97A' '3.16A' '1.23A' '0.83A'
 '0.61A' '4.67A' '3.02A' '2.87A' '1.89A' '1.25A' '2.07A' '0.91A' '2.93A'
 '2.37A' '0.44A' '1.38A' '1.57A' '3.21A' '0.90A' '2.65A' '6.47A' '2.19A'
 '0.71A' '1.42A' '0.73A' '1.54A' '2.17A' '1.45A' '0.55A' '3.88A' '3.53A'
 '3.98A' '3.45A' '1.15A' '1.60A' '1.39A' '4.30A' '0.13A' '2.70A' '0.89A'
 '2.02A' '0.85A' '0.88A' '1.16A' '2.35A' '3.73' '2.35' '3.10' '4.05'
 '2.92' '4.43' '3.70' '2.83' '3.28' '4.13' '2.16' '2.11' '4.50' '2.84'
 '7.00' '3.56' '3.21' '3.09' '3.06' '2.14' '4.39' '4.35' '3.63' '3.65'
 '3.60' '3.59' '4.87' '2.80' '3.03' '4.22' '2.28' '2.06' '2.79' '4.82'
 '3.97' '5.33' '3.57' '0.66A' '2.72' '2.69' '4.31' '2.95' '3.27' '8.57'
 '2.99' '6.85' '4.75' '5.00' '0.48A' '0.34A' '3.15' '2.81' '0.62A' '3.24'
 '0.54A' '0.36A' '1.50A' '2.20A' '1.96A' '1.35A' '0.81A' '1.85A' '1.61A'
 '1.21A' '0.64A' '0.53A' '0.47A' '0.39A' '3.08' '1.24A' '1.36A' '1.49A'
 '0.95A' '1.67A' '1.01A' '0.86A' '3.30A' '0.49A' '2.75A' '2.29A' '0.45A'
 '2.06A' '1.09A' '2.56A' '0.87A' '1.08A' '0.59A' '1.76A' '3.59A' '1.41A'
 '1.69A' '3.10A' '0.76A' '3.00A' '2.79A' '1.19A' '1.93A' '2.61A' '0.67A'
 '1.34A' '4.95A' '4.08A' '1.56A' '0.72A' '0.75A' '1.73A' '1.66A' '3.84A'
 '2.13A' '0.93A' '1.14A' '2.45A' '1.37A' '1.74A' '2.18A' '5.02' '3.29'
 '3.77' '3.25' '3.26' '2.85' '2.86' '4.89' '3.18' '3.49' '3.02' '3.84'
 '3.39' '2.98' '2.15A' '1.79A' '3.91' '3.24A' '1.63A' '1.95A' '1.82A'
 '2.58A' '4.56' '4.17A' '3.05A' '1.51A' '1.84A' '3.27A' '2.50A' '3.70A'
 '3.48A' '4.21A' '3.14' '10.45A' '4.06' '3.87' '4.37' '5.87' '8.30' '3.33'
 '3.55' '3.68' '4.84' '3.45' '3.54' '4.28' '4.58' '6.40' '3.32' '3.17'
 '3.01' '4.94' '4.19' '3.19' '4.40' '3.62' '3.66' '3.88' '2.89' '4.30'
 '7.03' '5.46' '3.90' '4.86' '4.51' '4.14' '3.81' '3.11' '3.53' '5.04'
 '3.51' '3.46' '5.28' '3.85' '5.12' '2.94' '2.96' '4.81' '3.95' '4.62'
 '2.77' '1.44A' '2.71A' '2.55A' '0.94A' '2.72A' '2.14A' '5.51A' '2.40A'
 '2.44A' '2.41A' '2.64A' '2.77A' '3.60A' '3.16' '2.84A' '4.44' '3.23'
 '2.49A' '5.15A' '4.10A' '5.65A' '3.32A' '5.45A' '3.08A' '4.16' '3.64'
 '8.22' '7.81' '4.71' '6.75' '3.82' '4.29' '8.36' '12.00' '5.71' '4.73'
 '4.65' '4.55' '4.69' '4.27' '5.27' '6.80' '5.43' '4.02' '3.61' '0.79A'
 '6.11A' '5.19' '5.29A' '6.10' '5.14' '3.56A' '11.30' '5.40A' '3.76'
 '6.90' '2.80A' '5.71A' '3.68A' '3.17A' '4.35A' '2.82A' '8.90' '5.34'
 '3.12A' '3.14A' '3.66A' '5.60A' '4.71A' '3.54A' '3.72A' '2.73A' '10.00A'
 '4.00A' '3.15A' '5.13A' '3.58A' '4.79A' '4.80' '4.49' '2.91A' '5.98'
 '12.60A' '5.06A' '1.59A' '4.72A' '3.87A' '5.10' '6.20A' '3.01A' '3.50A'
 '5.50' '8.20A' '2.90A' '3.33A' '3.20A' '2.03A' '2.31A' '4.36A' '5.95A'
 '3.93' '1.92A' '6.70' '4.12' '8.10' '4.53' '4.32' '7.69' '5.06' '4.60'
 '5.91' '5.32' '7.33' '3.98' '3.72' '7.50' '2.36A' '5.45' '2.01A' '5.39'
 '4.03' '7.23' '6.04' '3.79' '3.13' '3.78' '5.42' '5.18']
['0.67' '0.26' '2.20' '0.33' '0.06' '0.28' '1.12' '0.75' '0.73' '0.29'
 '0.35' '0.79' '1.01' '0.48' '0.12' '0.01' '0.00' '0.31' '0.42' '0.39'
 '0.11' '0.40' '0.15' '0.64' '0.32' '0.09' '0.08' '0.25' '0.65' '0.81'
 '0.27' '' '0.02' '0.14' '1.18' '0.72' '0.30' '0.38' '0.96' '1.15' '0.57'
 '0.17' '1.80' '0.16' '0.10' '0.80' '0.47' '1.63' '0.18' '0.03' '0.21'
 '0.85' '0.84' '0.20' '0.46' '0.19' '0.99' '0.13' '0.63' '0.05' '0.86'
 '0.94' '0.60' '0.69' '0.04' '0.45' '0.22' '0.23' '1.05' '0.89' '1.08'
 '0.24' '2.23' '0.07' '0.41' '0.56' '1.30' '0.83' '1.69' '2.31' '0.98'
 '1.49' '1.35' '1.03' '0.74' '0.68' '1.48' '0.93' '0.95' '3.07' '0.43'
 '1.50' '0.34' '0.82' '0.55' '0.37' '0.62' '0.52' '0.70' '1.21' '0.49'
 '1.77' '1.17' '2.00' '1.85' '0.58' '0.88' '1.23' '1.41' '2.67' '0.36'
 '1.06' '1.94' '0.77' '1.81' '0.92' '1.11' '1.47' '1.65' '1.51' '0.53'
 '1.42' '0.44' '1.79' '2.91' '1.13' '1.34' '1.61' '0.91' '1.10' '1.20'
 '2.04' '0.66' '4.00' '1.89' '0.51' '0.61' '2.24' '0.50' '1.45' '1.31'
 '0.59' '1.37' '1.00' '1.02' '4.38' '1.68' '1.64' '1.19' '3.44' '2.82'
 '1.14' '1.62' '0.78' '1.24' '1.09' '1.59' '0.76' '1.25' '2.25' '1.92'
 '1.74' '5.21' '1.72' '1.82' '0.71' '1.26' '1.54' '1.58' '2.09' '6.03'
 '1.67' '1.32' '0.87' '1.83' '0.54' '2.03' '1.76' '2.63' '2.36' '3.47'
 '1.84' '2.21' '4.54' '4.36' '1.71' '1.90' '1.28' '1.53' '3.48' '0.97'
 '2.43' '2.61' '2.29' '1.73' '2.26' '1.40' '2.19' '2.76' '2.22' '1.16'
 '2.38' '0.90' '2.10' '2.44' '1.29' '2.68' '1.86' '2.60' '2.65' '1.97'
 '3.05' '1.33' '3.52' '2.78' '1.60' '1.27' '1.66' '1.75' '1.95' '3.50'
 '1.44' '1.46' '1.55' '1.22' '1.04' '3.30' '4.07' '2.37' '2.88' '2.13'
 '1.07' '1.52' '2.08' '3.31' '3.43' '1.38' '2.62' '4.59' '3.41' '2.27'
 '1.87' '1.93' '2.47' '1.70' '2.17' '2.52' '1.98' '1.43' '3.58' '3.22'
 '2.07' '2.46' '2.33' '2.75' '1.39' '2.50' '2.42' '5.47' '2.02' '1.36'
 '1.57' '2.74' '2.70' '1.91' '1.88' '4.20' '2.30' '3.36' '4.99' '2.34'
 '2.49' '2.48' '4.09' '2.15' '2.45' '2.59' '3.34' '2.05' '2.32' '2.56'
 '2.39' '2.71' '1.78' '2.73' '2.53' '4.46' '2.58' '2.93' '3.69' '2.54'
 '1.99' '2.40' '2.12' '1.96' '4.21' '2.41' '2.18' '2.97' '4.04' '3.38'
 '4.97' '2.51' '5.08' '3.89' '3.71' '4.01' '3.12' '3.94' '2.64' '8.85'
 '4.10' '1.56' '2.87' '3.04' '2.01' '2.57' '3.75' '4.77' '2.55' '5.42'
 '3.35' '2.90' '3.40' '3.20' '3.42' '2.95' '2.66' '3.00' '4.50' '3.23'
 '3.80' '4.28' '2.28' '4.66' '3.16' '4.67' '3.02' '3.21' '6.47' '3.88'
 '3.53' '3.98' '3.45' '4.30' '2.35' '3.73' '3.10' '4.05' '2.92' '4.43'
 '3.70' '2.83' '3.28' '4.13' '2.16' '2.11' '2.84' '7.00' '3.56' '3.09'
 '3.06' '2.14' '4.39' '4.35' '3.63' '3.65' '3.60' '3.59' '4.87' '2.80'
 '3.03' '4.22' '2.06' '2.79' '4.82' '3.97' '5.33' '3.57' '2.72' '2.69'
 '4.31' '3.27' '8.57' '2.99' '6.85' '4.75' '5.00' '3.15' '2.81' '3.24'
 '3.08' '4.95' '4.08' '3.84' '5.02' '3.29' '3.77' '3.25' '3.26' '2.85'
 '2.86' '4.89' '3.18' '3.49' '3.39' '2.98' '3.91' '4.56' '4.17' '3.14'
 '10.45' '4.06' '3.87' '4.37' '5.87' '8.30' '3.33' '3.55' '3.68' '4.84'
 '3.54' '4.58' '6.40' '3.32' '3.17' '3.01' '4.94' '4.19' '3.19' '4.40'
 '3.62' '3.66' '2.89' '7.03' '5.46' '3.90' '4.86' '4.51' '4.14' '3.81'
 '3.11' '5.04' '3.51' '3.46' '5.28' '3.85' '5.12' '2.94' '2.96' '4.81'
 '3.95' '4.62' '2.77' '5.51' '4.44' '5.15' '5.65' '5.45' '4.16' '3.64'
 '8.22' '7.81' '4.71' '6.75' '3.82' '4.29' '8.36' '12.00' '5.71' '4.73'
 '4.65' '4.55' '4.69' '4.27' '5.27' '6.80' '5.43' '4.02' '3.61' '6.11'
 '5.19' '5.29' '6.10' '5.14' '11.30' '5.40' '3.76' '6.90' '8.90' '5.34'
 '5.60' '3.72' '10.00' '5.13' '4.79' '4.80' '4.49' '5.98' '12.60' '5.06'
 '4.72' '5.10' '6.20' '5.50' '8.20' '5.95' '3.93' '6.70' '4.12' '8.10'
 '4.53' '4.32' '7.69' '4.60' '5.91' '5.32' '7.33' '7.50' '5.39' '4.03'
 '7.23' '6.04' '3.79' '3.13' '3.78' '5.18']

In [40]:
#replace all empty string to "0"
weatherdata= weatherdata.replace(to_replace ="", 
                 value ="0.00")

In [41]:
weatherdata.percipitation[258804]

'0.00'

### List the unique Station Name

In [42]:
nameList = weatherdata.name.unique()
print(f"length of unique name {len(nameList)}")
stationList = weatherdata.station_id.unique()
print(f"length of unique stationID {len(stationList)}")
print("List the name of station")
print(nameList)

length of unique name 37
length of unique stationID 37
List the name of station
['QUILLAYUTE AP' 'MONROE' 'LONG BEACH EXPERIMENT STA' 'RAYMOND 2 S'
 'ABERDEEN' 'STARTUP 1 E' 'KENT' 'MUD MOUNTAIN DAM'
 'SEATTLE TACOMA AIRPORT' 'CONCRETE PPL FISH STATION'
 'LONGMIRE RAINIER NPS' 'CUSHMAN POWERHOUSE #2' 'CLEARBROOK' 'FORKS 1 E'
 'QUILCENE 2 SW' 'STAMPEDE PASS' 'SNOQUALMIE FALLS' 'NEWHALEM'
 'Quillayute Area' 'EVERETT' 'RAINIER PARADISE RS' 'UPPER BAKER DAM'
 'Olympia Area' 'PALMER 3 ESE' 'BELLINGHAM INTL AP' 'BLAINE'
 'BELLINGHAM 3 SSW' 'PACKWOOD' 'CEDAR LAKE' 'BREMERTON'
 'HOQUIAM BOWERMAN AP' 'DIABLO DAM' 'ROSS DAM' 'TACOMA NO. 1'
 'Seattle Area' 'OLYMPIA AP' 'SEDRO-WOOLLEY']

### Create coordinate Dictionary for station

In [43]:
stationCoords = {
    "QUILLAYUTE AP": (-124.3855, 47.9504),
    "MERWIN DAM": (-122.5551, 45.9568),
    "MONROE": (-121.9884, 47.8577),
    "LONG BEACH EXPERIMENT STA" : (-124.0522, 46.3505),
    "RAYMOND 2 S": (-123.73846, 46.6856865),
    "ABERDEEN":(-123.815720, 46.975372),
    "KALAMA FALLS HATCHERY": (-122.732604, 46.016503),
    "RANDLE 1 E":(-121.8555, 46.5492),
    "STARTUP 1 E":(-121.739500, 47.868100),
    "KENT":(-122.237381, 47.378010),
    "MUD MOUNTAIN DAM":(-121.930000, 47.140833),
    'SEATTLE TACOMA AIRPORT': (-122.301659, 47.443546),
    'CONCRETE PPL FISH STATION':(-121.7462513,  48.5392813),
    'TOLT SOUTH FORK RESERVOIR':(-121.6890, 47.693714200),
    'MAYFIELD POWER PLANT':(-122.586389, 46.503611),
    'LONGMIRE RAINIER NPS':(-121.8120, 46.7492),
    'CUSHMAN POWERHOUSE #2':(-123.250000, 47.474664),
    'CLEARBROOK':(-122.322, 48.979),
    'FORKS 1 E':(-124.3847, 47.9510),
    'QUILCENE 2 SW':(-122.621600, 47.858400),
    'STAMPEDE PASS':(-121.333333, 47.283333),
    'SNOQUALMIE FALLS':(-121.8369, 47.5419),
    'NEWHALEM':(-121.230, 48.670),
    'Quillayute Area':(-124.542, 47.943),
    'EVERETT':(-122.193375, 47.982567),
    'RAINER OHANAPECOSH':(-121.670163986, 46.836329988),
    'CATHLAMET 6NE':(-123.38, 46.20),
    'RAINIER PARADISE RS':(-121.726906, 46.879967),
    'UPPER BAKER DAM':(-121.6906957, 48.64928525),
    'Olympia Area':(-122.900696, 47.037872),
    'PALMER 3 ESE':(-121.850000, 47.300000),
    'BELLINGHAM INTL AP':(-122.5358, 48.7890),
    'BLAINE':(-122.749748, 48.988552),
    'BELLINGHAM 3 SSW':(-122.485886, 48.769768),
    'PACKWOOD':(-121.67333064, 46.602330924),
    'NASELLE 2 ENE':(-123.753000, 46.372500),
    'CEDAR LAKE':(-122.4487783, 48.6767749),
    'BREMERTON':(-122.6515, 47.5687),
    'HOQUIAM BOWERMAN AP':(-123.9365556, 46.9711944),
    'DIABLO DAM':(-121.150556, 48.715556),
    'ROSS DAM':(-121.067222, 48.732778),
    'ARLINGTON':(-122.3335, 47.7177),
    'TACOMA NO. 1':(-122.465973, 47.258728),
    'Seattle Area':(-122.335167, 47.608013),
    'OLYMPIA AP':(-122.9033, 46.9733),
    'SEDRO-WOOLLEY':(-122.2361, 48.5039)
}
print("Total number of station Coordinate", len(stationCoords))

Total number of station Coordinate 46

### Add a new attribute "stationCoord" to the weather dataset

In [44]:
def addStationCoord(weather):
    tmpList = []
    for station in weather['name']:
        tmpList.append(stationCoords[station])
    weather['stationCoord'] = tmpList
    return weather

weatherdata = addStationCoord(weatherdata)
print(weatherdata.shape)
weatherdata.head(5)

(260725, 15)

,date,max_temperature,min_temperature,avg_temperature,departure_temperature,hdd,cdd,percipitation,new_snow,snow_depth,station_id,name,state,uid,stationCoord
0,2000-01-01,46,32,39.0,-1.6,26,0,0.67,M,M,456858 2,QUILLAYUTE AP,WA,26092,"(-124.3855, 47.9504)"
1,2000-01-02,43,32,37.5,-3.2,27,0,0.26,M,M,456858 2,QUILLAYUTE AP,WA,26092,"(-124.3855, 47.9504)"
2,2000-01-03,49,35,42.0,1.3,23,0,2.20,M,M,456858 2,QUILLAYUTE AP,WA,26092,"(-124.3855, 47.9504)"
3,2000-01-04,48,40,44.0,3.2,21,0,0.33,M,M,456858 2,QUILLAYUTE AP,WA,26092,"(-124.3855, 47.9504)"
4,2000-01-05,45,32,38.5,-2.4,26,0,0.06,M,M,456858 2,QUILLAYUTE AP,WA,26092,"(-124.3855, 47.9504)"

### Update Time to time object

In [45]:
from datetime import datetime

def change_string_to_time_Object(weatherdata):
    tmpList = []
    for time in weatherdata['date']:
        datetime_object = datetime.strptime(time, '%Y-%m-%d')
        tmpList.append(datetime_object)
    weatherdata = weatherdata.drop(['date'], axis=1)
    weatherdata['date'] = tmpList
    return weatherdata

weatherdata = change_string_to_time_Object(weatherdata)
weatherdata.head()

,max_temperature,min_temperature,avg_temperature,departure_temperature,hdd,cdd,percipitation,new_snow,snow_depth,station_id,name,state,uid,stationCoord,date
0,46,32,39.0,-1.6,26,0,0.67,M,M,456858 2,QUILLAYUTE AP,WA,26092,"(-124.3855, 47.9504)",2000-01-01
1,43,32,37.5,-3.2,27,0,0.26,M,M,456858 2,QUILLAYUTE AP,WA,26092,"(-124.3855, 47.9504)",2000-01-02
2,49,35,42.0,1.3,23,0,2.20,M,M,456858 2,QUILLAYUTE AP,WA,26092,"(-124.3855, 47.9504)",2000-01-03
3,48,40,44.0,3.2,21,0,0.33,M,M,456858 2,QUILLAYUTE AP,WA,26092,"(-124.3855, 47.9504)",2000-01-04
4,45,32,38.5,-2.4,26,0,0.06,M,M,456858 2,QUILLAYUTE AP,WA,26092,"(-124.3855, 47.9504)",2000-01-05

## Clean Fire Data

In [46]:
firedata.head(10)

,OBJECTID,UNITID,AGENCY,FIRENAME,FIRENUM,STARTDATE,PERIMDATE,ACRES,YEAR,CAUSE,SHAPEAREA,SHAPELEN
0,1,WANES,WA DNR - NE REGION,RED LAKE,UNKNOWN,1997/01/01 00:00:00+00,1997/01/01 00:00:00+00,1150.892563,1997,UNKNOWN,50132679.5,37331.893262
1,2,WANES,WA DNR - NE REGION,BUCKEYE,UNKNOWN,1987/01/01 00:00:00+00,1987/01/01 00:00:00+00,227.332739,1987,UNKNOWN,9902574.5,15985.227411
2,3,WANES,WA DNR - NE REGION,STONY PEAK,UNKNOWN,1985/01/01 00:00:00+00,1985/01/01 00:00:00+00,289.589646,1985,UNKNOWN,12614474.5,15780.754479
3,4,WANES,WA DNR - NE REGION,LIBERTY LAKE,UNKNOWN,1985/01/01 00:00:00+00,1985/01/01 00:00:00+00,855.379914,1985,UNKNOWN,37260200.0,38532.712240
4,5,WANES,WA DNR - NE REGION,RAIL CANYON,UNKNOWN,1994/08/01 00:00:00+00,1994/08/01 00:00:00+00,102.096839,1994,UNKNOWN,4447320.5,7985.871231
5,6,WANES,WA DNR - NE REGION,CORK SCREW,UNKNOWN,1994/08/01 00:00:00+00,1994/08/01 00:00:00+00,185.872679,1994,UNKNOWN,8096581.5,11092.848394
6,7,WANES,WA DNR - NE REGION,OWENS RD,UNKNOWN,1994/08/01 00:00:00+00,1994/08/01 00:00:00+00,127.004055,1994,UNKNOWN,5532274.5,9024.132644
7,8,WANES,WA DNR - NE REGION,NEWKIRK - OLD TRAIL RD,UNKNOWN,1997/01/01 00:00:00+00,1997/01/01 00:00:00+00,772.418058,1997,UNKNOWN,33646396.0,29728.589317
8,9,WANES,WA DNR - NE REGION,RIVERSIDE,UNKNOWN,1994/08/01 00:00:00+00,1994/08/01 00:00:00+00,455.865724,1994,UNKNOWN,19857431.5,21359.725998
9,10,WANES,WA DNR - NE REGION,UNKNOWN,UNKNOWN,1991/08/01 00:00:00+00,1991/08/01 00:00:00+00,407.724783,1991,UNKNOWN,17760420.5,25519.960932

### Read geojson file

In [47]:
print(geo.head())

   OBJECTID UNITID              AGENCY      FIRENAME  FIRENUM  \
0         1  WANES  WA DNR - NE REGION      RED LAKE  UNKNOWN
1         2  WANES  WA DNR - NE REGION       BUCKEYE  UNKNOWN
2         3  WANES  WA DNR - NE REGION    STONY PEAK  UNKNOWN
3         4  WANES  WA DNR - NE REGION  LIBERTY LAKE  UNKNOWN
4         5  WANES  WA DNR - NE REGION   RAIL CANYON  UNKNOWN

                   STARTDATE                  PERIMDATE        ACRES  YEAR  \
0  1997-01-01T00:00:00+00:00  1997-01-01T00:00:00+00:00  1150.892563  1997
1  1987-01-01T00:00:00+00:00  1987-01-01T00:00:00+00:00   227.332739  1987
2  1985-01-01T00:00:00+00:00  1985-01-01T00:00:00+00:00   289.589646  1985
3  1985-01-01T00:00:00+00:00  1985-01-01T00:00:00+00:00   855.379914  1985
4  1994-08-01T00:00:00+00:00  1994-08-01T00:00:00+00:00   102.096839  1994

     CAUSE   SHAPEAREA      SHAPELEN  \
0  UNKNOWN  50132679.5  37331.893262
1  UNKNOWN   9902574.5  15985.227411
2  UNKNOWN  12614474.5  15780.754479
3  UNKNOWN  37260200.0  38532.712240
4  UNKNOWN   4447320.5   7985.871231

                                            geometry
0  POLYGON ((-117.71087 47.86885, -117.71088 47.8...
1  POLYGON ((-117.38065 47.84193, -117.38020 47.8...
2  POLYGON ((-117.62814 47.89720, -117.62849 47.8...
3  POLYGON ((-117.11917 47.64738, -117.11924 47.6...
4  POLYGON ((-117.65657 47.91812, -117.65610 47.9...

### Create a new attriubte "geometry" in geo

In [48]:
#make make a centroid list
geo['centroid'] = geo['geometry'].centroid
print(geo['centroid'])

0      POINT (-117.72106 47.85972)
1      POINT (-117.37456 47.85137)
2      POINT (-117.63442 47.89337)
3      POINT (-117.11087 47.63692)
4      POINT (-117.65756 47.92171)
                  ...
678    POINT (-117.71003 48.67999)
679    POINT (-120.57463 46.78291)
680    POINT (-118.68344 46.63251)
681    POINT (-119.89663 46.78491)
682    POINT (-120.04690 47.25352)
Name: centroid, Length: 683, dtype: geometry

In [49]:
#geoCoord: first coordinate 
#coord: second coordinate (String input)
def calculateDistance(geoCoord, coord):
    return (float(geoCoord[0])-float(coord[0]))**2 + (float(geoCoord[1])-float(coord[1]))**2

#wildfire's centroid coodinate input
#return the closestStation's coordinate
def findClosestStation(coord):
    minDistance = 10**10
    for station in stationCoords.items():
        distance = calculateDistance(coord, station[1])
        if(distance < minDistance):
            closestStation = station[1]
            minDistance = distance
    return closestStation

### Create a new attribute name "nearest Station"
#### It stores the nearest station's coordinate in longtitude, latitude format

In [50]:
i = 0
nearestStationList = []
for i in range(len(geo['centroid'])):
    closestStation = findClosestStation(geo['centroid'][i].coords[0])
    nearestStationList.append(closestStation)
geo['nearestStation'] = nearestStationList
geo['nearestStation']

0      (-121.067222, 48.732778)
1      (-121.067222, 48.732778)
2      (-121.067222, 48.732778)
3      (-121.067222, 48.732778)
4      (-121.067222, 48.732778)
                 ...
678    (-121.067222, 48.732778)
679    (-121.333333, 47.283333)
680    (-121.333333, 47.283333)
681    (-121.333333, 47.283333)
682    (-121.333333, 47.283333)
Name: nearestStation, Length: 683, dtype: object

### update time data

In [51]:
from datetime import datetime

def change_string_to_time_Object(geo):
    length = len(geo)
    startList = []
    endList=[]
    for i in range(length):
        datetime_object = datetime.strptime(geo['STARTDATE'][i][0:10], '%Y-%m-%d')
        startList.append(datetime_object)
        datetime_object = datetime.strptime(geo['PERIMDATE'][i][0:10], '%Y-%m-%d')
        endList.append(datetime_object)
    geo = geo.drop(['STARTDATE', 'PERIMDATE'], axis=1)
    geo['start'] = startList
    geo['end'] = endList
    return geo

geo = change_string_to_time_Object(geo)

In [52]:
print(geo.shape)
geo.tail(5)

(683, 15)

,OBJECTID,UNITID,AGENCY,FIRENAME,FIRENUM,ACRES,YEAR,CAUSE,SHAPEAREA,SHAPELEN,geometry,centroid,nearestStation,start,end
678,679,WACOF,COLVILLE NF,NORTH MILL CREEK,1945,422.708827,2019,UNKNOWN,1.841312e+07,28433.620349,"POLYGON ((-117.72253 48.67431, -117.72246 48.6...",POINT (-117.71003 48.67999),"(-121.067222, 48.732778)",2019-08-08,2019-08-12 00:00:00
679,680,WASES,WA DNR - SE REGION,DRY SAGE,137,383.753631,2019,UNKNOWN,1.671624e+07,16527.688615,"POLYGON ((-120.56585 46.77871, -120.56591 46.7...",POINT (-120.57463 46.78291),"(-121.333333, 47.283333)",2019-06-08,2019-11-05 00:00:00
680,681,WAWFS,WA FIRE SERVICE,SULPHUR,391,1145.757857,2019,UNKNOWN,4.990901e+07,47711.502555,"POLYGON ((-118.72236 46.62631, -118.72196 46.6...",POINT (-118.68344 46.63251),"(-121.333333, 47.283333)",2019-08-02,2019-11-12 00:00:00
681,682,WASPD,SPOKANE BLM,SADDLE MOUNTAIN,345,123.877460,2019,UNKNOWN,5.396081e+06,13525.882753,"POLYGON ((-119.89654 46.79268, -119.89668 46.7...",POINT (-119.89663 46.78491),"(-121.333333, 47.283333)",2019-07-24,2019-12-10 00:00:00
682,683,WASPD,SPOKANE BLM,MILEPOST 20,645,1122.197013,2019,UNKNOWN,4.888265e+07,40570.972715,"MULTIPOLYGON (((-120.04440 47.23970, -120.0443...",POINT (-120.04690 47.25352),"(-121.333333, 47.283333)",2019-10-29,2019-12-10 00:00:00

In [53]:
##input 
def find_same_location_row(coord, weatherdata):
    """this function return the weather rows that has the same location as the given coord parameter"""
    return weatherdata.loc[weatherdata['stationCoord'] == coord]

def checkDate(rows, startDate, endDate):
    """this function check whether the given startDate and endDate is in the dataset
    return true if the startDate & endDate is valid
    return false otherwise 
    startIndex, endIndex would output correclty if return true
    """
    startIndex = -1
    endIndex = -1
    startExist = False
    endExist = False
    index = 0
    for time in rows['date']:
        if(time.date() == startDate.date()):
            startExist = True
            startIndex = index
        if(time.date() == endDate.date()):
            endExist = True
            endIndex = index
        index = index + 1
    return startExist and endExist, startIndex, endIndex

def findAverageValue(rows, startDateIndex, endDateIndex):
    maxTmpSum, minTmpSum, avgTmpSum, avgDepSum, avgHddSum, avgCddSum, avgPrecSum = 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0
    size = abs(endDateIndex - startDateIndex) + 1   ### geo row 154 has reverse start date and end date
    for i in range(startDateIndex, endDateIndex+1):
        maxTmpSum += float(rows.iloc[i, 0])
        minTmpSum += float(rows.iloc[i, 1])
        avgTmpSum += float(rows.iloc[i, 2])
        avgDepSum += float(rows.iloc[i, 3])
        avgHddSum += float(rows.iloc[i, 4])
        avgCddSum += float(rows.iloc[i, 5])
        avgPrecSum += float(rows.iloc[i, 6])
    return maxTmpSum/size, minTmpSum/size, avgTmpSum/size, avgDepSum/size, avgHddSum/size, avgCddSum/size, avgPrecSum/size

def add_new_attribute(geo):
    maxTmpList = []
    minTmpList = []
    avgTmpList = []
    avgDepList = []
    avghddList = []
    avgcddList =[]
    avgPrecList = []
    n = len(geo['nearestStation'])
    print(n)
    i = 0
    for row in geo.itertuples():
        print(i)
        weatherRows = find_same_location_row(row.nearestStation, weatherdata)
        checkDateExist, startDateIndex, endDateIndex = checkDate(weatherRows, row.start, row.end)
        if(checkDateExist):
            maxTmp, minTmp, avgTmp, avgDep, avgHdd, avgCdd, avgPrec= findAverageValue(weatherRows, startDateIndex, endDateIndex)
            #get the avg value and add it to the array
        else:
            #cannot find date, thusinitializae negative -999
            maxTmp, minTmp, avgTmp, avgDep, avgHdd, avgCdd, avgPrec = -999, -999, -999, -999, -999, -999, -999
        #add it to the array
        maxTmpList.append(maxTmp)
        minTmpList.append(minTmp)
        avgTmpList.append(avgTmp)
        avgDepList.append(avgDep)
        avghddList.append(avgHdd)
        avgcddList.append(avgCdd)
        avgPrecList.append(avgPrec)
        i += 1
    geo['max_temperature'] = maxTmpList
    geo['min_temperature'] = minTmpList
    geo['avg_temperature'] = avgTmpList
    geo['departure_temperature'] = avgTmpList
    geo['hdd'] = avghddList
    geo['cdd'] = avgcddList
    geo['percipitation'] = avgPrecList

    return geo

In [54]:
#testing 
# rows = find_same_location_row((-121.067222, 48.732778), weatherdata)
# print(rows)
# print(checkDate(rows, geo['start'][682], geo['end'][682]))
# checkDateExist, startDateIndex, endDateIndex = checkDate(rows, geo['start'][682], geo['end'][682])
# print(findAverageValue(rows, startDateIndex, endDateIndex))

geo = add_new_attribute(geo)

683
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682

In [55]:
print(geo.shape)
weatherdata

(683, 22)

,max_temperature,min_temperature,avg_temperature,departure_temperature,hdd,cdd,percipitation,new_snow,snow_depth,station_id,name,state,uid,stationCoord,date
0,46,32,39.0,-1.6,26,0,0.67,M,M,456858 2,QUILLAYUTE AP,WA,26092,"(-124.3855, 47.9504)",2000-01-01
1,43,32,37.5,-3.2,27,0,0.26,M,M,456858 2,QUILLAYUTE AP,WA,26092,"(-124.3855, 47.9504)",2000-01-02
2,49,35,42.0,1.3,23,0,2.20,M,M,456858 2,QUILLAYUTE AP,WA,26092,"(-124.3855, 47.9504)",2000-01-03
3,48,40,44.0,3.2,21,0,0.33,M,M,456858 2,QUILLAYUTE AP,WA,26092,"(-124.3855, 47.9504)",2000-01-04
4,45,32,38.5,-2.4,26,0,0.06,M,M,456858 2,QUILLAYUTE AP,WA,26092,"(-124.3855, 47.9504)",2000-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349994,73,48,60.5,-2.4,4,0,0.00,0.0,0,457507 2,SEDRO-WOOLLEY,WA,26180,"(-122.2361, 48.5039)",2020-08-27
349995,76,49,62.5,-0.3,2,0,0.00,0.0,0,457507 2,SEDRO-WOOLLEY,WA,26180,"(-122.2361, 48.5039)",2020-08-28
349996,76,54,65.0,2.4,0,0,0.00,0.0,0,457507 2,SEDRO-WOOLLEY,WA,26180,"(-122.2361, 48.5039)",2020-08-29
349997,72,45,58.5,-4.0,6,0,0.00,0.0,0,457507 2,SEDRO-WOOLLEY,WA,26180,"(-122.2361, 48.5039)",2020-08-30
349998,73,52,62.5,0.2,2,0,0.15,0.0,0,457507 2,SEDRO-WOOLLEY,WA,26180,"(-122.2361, 48.5039)",2020-08-31

### Drop rows that does not has weather data (for example -999 in temperature)

In [56]:
geo = geo[geo.max_temperature != -999]

### Drop attribute centroid because it is not serilizable to json

In [57]:
geo = geo.drop(['centroid'], axis = 1)

In [58]:
print(geo.shape)
geo

(523, 21)

,OBJECTID,UNITID,AGENCY,FIRENAME,FIRENUM,ACRES,YEAR,CAUSE,SHAPEAREA,SHAPELEN,...,nearestStation,start,end,max_temperature,min_temperature,avg_temperature,departure_temperature,hdd,cdd,percipitation
18,19,WASES,WA DNR - SE REGION,WHITES BASIN FIRE,UNKNOWN,122.677970,2000,UNKNOWN,5.343831e+06,14408.752985,...,"(-121.67333064, 46.602330924)",2000-07-17,2000-07-17 00:00:00,85.000000,52.000000,68.500000,68.500000,0.000000,4.000000,0.000
19,20,WAOWF,OKAN-WEN NF,BAILEY FIRE,UNKNOWN,3211.967525,2001,UNKNOWN,1.399127e+08,85511.107289,...,"(-121.067222, 48.732778)",2001-08-13,2001-08-13 00:00:00,95.000000,62.000000,78.500000,78.500000,0.000000,14.000000,0.000
20,21,WASES,WA DNR - SE REGION,DRY CREEK FIRE,UNKNOWN,17.146866,2001,UNKNOWN,7.469145e+05,3467.790280,...,"(-121.333333, 47.283333)",2001-08-01,2001-08-01 00:00:00,62.000000,44.000000,53.000000,53.000000,12.000000,0.000000,0.000
21,22,WANES,WA DNR - NE REGION,GAMBLES MILL FIRE (BREWSTER,UNKNOWN,5516.094728,2001,UNKNOWN,2.402801e+08,79565.077700,...,"(-121.067222, 48.732778)",2001-08-12,2001-08-12 00:00:00,91.000000,60.000000,75.500000,75.500000,0.000000,11.000000,0.000
22,23,WASES,WA DNR - SE REGION,HIGHLAND FLATS FIRE,UNKNOWN,128.725767,2001,UNKNOWN,5.607272e+06,15603.206251,...,"(-121.067222, 48.732778)",2001-08-01,2001-08-01 00:00:00,71.000000,52.000000,61.500000,61.500000,3.000000,0.000000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,672,WAOLP,OLYMPIC NF,MT DANA,185,42.747247,2019,LIGHTNING,1.862063e+06,8343.929913,...,"(-123.25, 47.474664)",2019-08-31,2019-09-08 00:00:00,74.555556,54.888889,64.722222,64.722222,0.444444,0.333333,0.000
672,673,WACOA,COLVILLE AGENCY,ELMER CITY,19067,2019.347558,2019,HUMAN,8.796243e+07,58314.303623,...,"(-121.067222, 48.732778)",2019-06-23,2019-06-25 00:00:00,64.333333,50.333333,57.333333,57.333333,7.666667,0.000000,0.000
675,676,WAWFS,WA FIRE SERVICE,JUNIPER WIND TOWER,293,242.063573,2019,UNKNOWN,1.054425e+07,18767.383425,...,"(-121.67333064, 46.602330924)",2019-07-20,2019-07-22 00:00:00,86.333333,50.666667,68.500000,68.500000,0.000000,3.666667,0.000
676,677,WANES,WA DNR - NE REGION,GRAHAM,1773,99.164866,2019,LIGHTNING,4.319604e+06,11457.843378,...,"(-121.067222, 48.732778)",2019-07-24,2019-07-25 00:00:00,74.000000,53.000000,63.500000,63.500000,2.500000,1.000000,0.000
678,679,WACOF,COLVILLE NF,NORTH MILL CREEK,1945,422.708827,2019,UNKNOWN,1.841312e+07,28433.620349,...,"(-121.067222, 48.732778)",2019-08-08,2019-08-12 00:00:00,76.800000,58.600000,67.700000,67.700000,0.600000,3.400000,0.026

### Drop Geometry point inorder to store in CSV file

In [59]:
geo = geo.drop(['geometry'], axis=1)

print("The data has the following attriubte")
print (geo.columns)

The data has the following attriubte
Index(['OBJECTID', 'UNITID', 'AGENCY', 'FIRENAME', 'FIRENUM', 'ACRES', 'YEAR',
       'CAUSE', 'SHAPEAREA', 'SHAPELEN', 'nearestStation', 'start', 'end',
       'max_temperature', 'min_temperature', 'avg_temperature',
       'departure_temperature', 'hdd', 'cdd', 'percipitation'],
      dtype='object')

In [60]:
geo.to_csv(data_dir+"preprocessed/original_merge_weather_forest.csv")

#geo.to_csv('merge_data.csv') ##This does not work because of geometry point

# with open(r"C:\Users\steve\Desktop\CMPE255Project\data\merge_data.json", 'w') as f:  ## this method can store geometry info, but cannot store time object
#         f.write(geo.to_json())

In [112]:
from datetime import timedelta

import warnings
warnings.filterwarnings('ignore')

def getTimeList(geo, days):
    tenDayList = []
    for row in geo.itertuples():
        tenDayList.append((row.start + timedelta(days=days)))
    return tenDayList
    
def addGeoTrueLabel(geo):
    #add label to geo
    label = [True] * len(geo)
    geo['label'] = label
    return geo

def getWeatherRow(date):
    return weatherdata.loc[ weatherdata['date']==date].iloc[0]

def modifyData(row, date):
    weather = getWeatherRow(date)
    row['ACRES'] = 0
    row['SHAPEAREA'] = 0
    row['SHAPELEN'] = 0
    row['end'] = row['start']
    row['geometry'] = "NONE"
    row['FIRENAME'] = "NO_FIRENAME"
    row['max_temperature'] = weather['max_temperature']
    row['min_temperature'] = weather['min_temperature']
    row['avg_temperature'] = weather['avg_temperature']
    row['departure_temperature'] = weather['departure_temperature']
    row['hdd'] = weather['hdd']
    row['cdd'] = weather['cdd']
    row['percipitation'] = weather['percipitation']
    row['label'] = False
    row['start'] = date
    row['end'] = date
    row['CAUSE'] = "INVALID"
    return row
    
def addNegativeData(data, days=10, size=1):
    """this method add negative data to the geo
    param: days = number of days that would add to the data
    param: size the number of sample data respond to original data size
    for example: if original dataset is 523 size = 1, this method append 523 negative data"""
    
    timeLists=[]
    for i in range(size):
        timeLists.append(getTimeList(data, days * (i+1)))
    
    for j in range(len(timeLists)):
        for i in range(len(timeLists[j])):
            neg_data = modifyData(data.iloc[i], timeLists[j][i])
            data = data.append(neg_data)
    return data


def dropColumn(data, dropList=[]):
    """This function is a helper function to drop unsued attribute for the given drop List
    if drop List is zero or noe, the default attriubte would be clean """
    
    print(f"before dropping the shape is {data.shape}")
    if len(dropList)==0:
        dropList = ['YEAR', 'OBJECTID', 'geometry', 'nearestStation', 'FIRENUM']
        
    current_attribute = list(data.columns.values)
    for col in dropList:
        if col in current_attribute:
            data.drop(col, inplace=True, axis=1)
    print(f"Drop finish the shape is {data.shape}\n")
    

def generateNegativeData(data, negativeSizeList):
    """param: data is the geo data
       negativeSizeList: is the list of negative data that attemp to generate. """
    pdList = []
    
    for size in negativeSizeList:
        pdList.append(addNegativeData(data, size=size))
    
    print(len(pdList))
    return pdList

In [126]:
geo = addGeoTrueLabel(geo)

# the Size list of the data
sizeList = [1,2, 4, 8, 16, 32]
pdList = generateNegativeData(geo, sizeList)

6

### Visualization of the prervious output

In [127]:
for pd in pdList:
    print(pd.shape)

print(" ")
#the first is the positive data
print(pdList[0].iloc[0])
#the second is the negative data that is produce by after ten days of positive data
print(pdList[0].iloc[523])
## the weather information have been update

(1046, 22)
(1569, 22)
(2615, 22)
(4707, 22)
(8891, 22)
(17259, 22)

OBJECTID                                            19
UNITID                                           WASES
AGENCY                              WA DNR - SE REGION
FIRENAME                             WHITES BASIN FIRE
FIRENUM                                        UNKNOWN
ACRES                                          122.678
YEAR                                              2000
CAUSE                                          UNKNOWN
SHAPEAREA                                  5.34383e+06
SHAPELEN                                       14408.8
nearestStation           (-121.67333064, 46.602330924)
start                              2000-07-17 00:00:00
end                                2000-07-17 00:00:00
max_temperature                                     85
min_temperature                                     52
avg_temperature                                   68.5
departure_temperature                             68.5
hdd                                                  0
cdd                                                  4
percipitation                                        0
label                                             True
geometry                                          None
Name: 18, dtype: object
OBJECTID                                            19
UNITID                                           WASES
AGENCY                              WA DNR - SE REGION
FIRENAME                                   NO_FIRENAME
FIRENUM                                        UNKNOWN
ACRES                                                0
YEAR                                              2000
CAUSE                                          INVALID
SHAPEAREA                                            0
SHAPELEN                                             0
nearestStation           (-121.67333064, 46.602330924)
start                              2000-07-27 00:00:00
end                                2000-07-27 00:00:00
max_temperature                                     60
min_temperature                                     57
avg_temperature                                   58.5
departure_temperature                             -1.3
hdd                                                  6
cdd                                                  0
percipitation                                     0.56
label                                            False
geometry                                          NONE
Name: 18, dtype: object

### Drop Column that you need

In [128]:
dropList = ['YEAR', 'OBJECTID', 'geometry', 'nearestStation', 'FIRENUM']

for pd in pdList:
    dropColumn(pd, dropList)

before dropping the shape is (1046, 22)
Drop finish the shape is (1046, 17)

before dropping the shape is (1569, 22)
Drop finish the shape is (1569, 17)

before dropping the shape is (2615, 22)
Drop finish the shape is (2615, 17)

before dropping the shape is (4707, 22)
Drop finish the shape is (4707, 17)

before dropping the shape is (8891, 22)
Drop finish the shape is (8891, 17)

before dropping the shape is (17259, 22)
Drop finish the shape is (17259, 17)

### NOTE: You need to rerun the entire code to generate the correct negative data!! 
### The size might be different if u run partial code

In [129]:
i = 0
for pd in pdList:
    fileName = f"preprocessed/{sizeList[i]}.csv"
    print(fileName)
    pd.to_csv(data_dir+fileName)
    i+=1

preprocessed/1.csv
preprocessed/2.csv
preprocessed/4.csv
preprocessed/8.csv
preprocessed/16.csv
preprocessed/32.csv